<div class="devise-sign-up">
  <h1 class="sign-up-headding">memoriaに登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="sign-up-main">

        <div class="field">
          <%= f.label :ニックネーム %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "email-form" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email-form" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上の半角英数字)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "email-form" %>
        </div>

        <div class="field">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "email-form" %>
        </div>

        <div class="action">
          <%= f.submit "登録する(無料)", class: "actions" %>
        </div>
      </div>
    <% end %>
      <div class="log-in"><%= render "devise/shared/links" %></div>
</div>