
<div class="body">
	<h1>mypage</h1>
	<div class="post">
			<div class="post-form">
				<%= form_for @memo do |memo| %>
				 	<%= memo.text_field :title %>
				 	<%= memo.text_area :body %>
				 	<%= memo.submit '投稿' %>
				<% end %>
			</div>

		<ul id="switch">
			<li id="a">mymemo</li>
			<li id="b">フォロー</li>
			<li id="c">フォロワー</li>
		</ul>

		<!-- mymemoの部分 -->
		<div id="divA">
			<% @memos.each do |memos| %>
				<div class="table">
					<span class="memo-title"><%= memos.title %></span>
					<span class-"memo-body"><%= memos.body %></span>
				</div>
			<% end %>
		</div>
		<!-- フォローの部分 -->


		<div id="divB">
			<!--% @follow.each do |follow| %-->


			<!--% end %-->

		</div>

		<!-- フォロワーの部分 -->

			<div id="divC">

			</div>
	</div>
</div>