
<h1>mypage</h1>
<div class="post">
	<div class="post-form">
		<%= form_for @memo do |memo| %>
		 	<%= memo.text_field :title %>
		 	<%= memo.text_area :body %>

		 	<%= memo.submit '投稿' %>

		<% end %>
		</div>

<ul id="switch">
<li id="mymemo">mymemo</li>
<li id="follow">フォロー</li>
<li id="follower">フォロワー</li>

</ul>
<!-- mymemoの部分 -->
	<div id="divA">
		<% @memos.each do |memos| %>
			<div class="table">
				<span class="memo-title"><%= memos.title %></span>
				<span class-"memo-body"><%= memos.body %></span>
			</div>
		<% end %>
	</div>
<!-- フォローの部分 -->
<div id="divB">


</div>
<!-- フォロワーの部分 -->



	

</div>