
	<div class="post">
		<div class="post-form">
			<%= form_for @memo do |memo| %>

		 	<%= memo.text_field :title %>

		 	<%= memo.text_area :body %>

		 	<%= memo.submit '投稿' %>

		<% end %>
		</div>
	<% @memos.each do |memos| %>
	<div class="table">
		<span class="memo-title"><%= memos.title %></span>
		<span class-"memo-body"><%= memos.body %></span>
	</div>
	<% end %>

</div>
















