<h1>トップページ</h1>

<div class="body">
	<% flash.each do |type,msg| %>
	<%= msg %>
	<% end %>
	<div class="post">
		<button type="button" class="" data-toggle="modal" data-target="#post">

			<div class="post-form">
					<%= image_tag 'no.image.jpg', :size =>'50x50', class: 'post-image' %>
			 		<div class="form-content">メモを残す</div>
			</div>
		</button>

		<!-- zoomした時 -->

	  <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
						<div class-"zoom-form">
							<%= form_for @memo do |memo| %>
								<%= image_tag 'no.image.jpg', :size =>'50x50', class: 'post-image' %>
								<%= memo.text_field :title, class: "form-title", placeholder: "メモのタイトル"  %>
				 				<%= memo.text_area :body, class: "form-body", placeholder: "メモを残そう！" %>
				 				<%= memo.submit '投稿', class: "form-submit" %>
				 				<!--%= render 'layouts/error_messages', model: memo.object %-->
							<% end %>
						</div>

			</div>
		</div>
		<!-- ここまで -->


		<ul id="switch">

				<li id="a">おすすめ</li>
			<div>|<li id="b">フォロー</li></div>

		</ul>

		<!-- おすすめ -->
		<div id="divA">
			<% @random.each do |memo| %>
			<!--%= memo.hidden_field :user_id, :value => current_user.id %-->
			<!--%= memo.hidden_field :memo_id, :value => memo.id %-->
			<div class="memo-form">
  				<div class="memo-title"><%= memo.title %></div>
  				<div class="memo-body"><%= memo.body %></div>
  				<% if current_user.already_liked?(memo) %>
  					<%= link_to favorites_delete_path, method: :delete do %><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><% end %>
				<% else %>
 					<%= link_to favorites_index_path(memo_id: memo.id), method: :post do %><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><% end %>
				<% end %>
				<!--%= memo.liked_users.count %-->
  			</div>
			<% end %>
		</div>

		<!-- フォロワーの部分 -->

		<div id="divB">
			bbb
		</div>
	</div>
</div>















