<div class="container">
	<div class="search-main">
    <% if user_signed_in? %>
			<% @memos.each do |memo| %>
		  	<div class="post-image">
		  		<%= image_tag memo.user.image.to_s, :size =>'50x50', class: 'post-image' do %><% end %>
		  	</div>
				<div class="user-name">
					<%= link_to memo.user.name, user_path(memo.user.id) %>
				</div>
		   	 <%= link_to memo.title, memo %>
		   	 <hr>
		 	<% end %>
		<% else %>
			<% @memos.each do |memo| %>
		  	<div class="post-image">
		  		<%= image_tag memo.user.image.to_s, :size =>'50x50' do %><% end %>
		  	</div>
				<div class="user-name">
					<%= memo.user.name %>
				</div>
		    <%= memo.title %>
		    <hr>
			<% end %>
		<% end %>
	</div>
</div>