<!DOCTYPE html>
<html>
  <head>
    <title>Memoria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- サインインしている時 -->
    <% if user_signed_in? %>
      <div class="header clearfix">
        <%= link_to root_path do %> <%= image_tag 'logo.png', class: 'logo' %> <% end %>
        <div class="header-list">
        <ul class="header-right">
          <li>
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <li><%= link_to current_user.name, users_path %></li>
          <li><%= link_to "編集", edit_user_path(current_user) %></li>
          <li><div class="search">
              <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
              <form method="get" action="#" class="search_container">
              <input type="text" size="5" placeholder="　キーワードやユーザー名で検索">
              <input type="submit" value="&#xf002">
              </form></div>
          </li>
        </ul>
        </div>
      </div>

      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "memoriaについて", memos_about_path %></li>
        <li><%= link_to "通知", notifications_index_path %></li>
        <li><%= link_to "いいねしたメモ", favorites_index_path %></li>
        <li><%= link_to "お問い合わせ", new_contacts_path %></li>
        <li><%= link_to "退会", users_exit_path %></li>
      </ul>

    <!-- サインインしていない時 -->
    <% else %>
    <div class="header clearfix">
      <div class="header-list">
        <%= image_tag 'logo.png', class: 'logo1' %>
        <ul class="header-right">
          <li class="sign-up"><%= link_to "新規会員登録", new_user_registration_path %></li>
          <li class="log-in"><%= link_to "ログイン", new_user_session_path %></li>
          <li><div class="search">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <form method="get" action="#" class="search_container">
              <input type="text" size="5" placeholder="　キーワードやユーザー名で検索">
              <input type="submit" value="&#xf002">
            </form>
          </div></li>
        </ul>
      </div>
    </div>
      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "memoriaについて", memos_about_path %></li>
        <li><%= link_to "通知", notifications_index_path %></li>
        <li><%= link_to "いいねしたメモ", favorites_index_path %></li>
        <li><%= link_to "お問い合わせ", new_contacts_path %></li>
        <li><%= link_to "退会", users_exit_path %></li>
      </ul>

      <% end %>
    </div>
      <%= yield %>
  </body>
</html>
